#mainnavbar{
    background-color: #8ee4af;
    height: 100%;
    width: 100%;
}

.nav-link{
    color: #05386b;
    font-weight: 550;
    font-size: 1.2rem;
    
}

.button-banner-normal{
    background-color: #05386b;

    font-size: 1rem;
    color: #edf5e1;
    border: #05386b;
    width: 80px;
    height: 40px;
}

.do-button{
    background-color: #05386b;
    font-weight: 500;
    font-size: 1rem;
    color: #edf5e1;
    border: #05386b;
    width: 120px;
    height: 38px;
}

.dont-button{

}