<div class="d-flex justify-content-center" id="user-content">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">{{current.firstName}} {{current.lastName}}</h2>
            <h3>Role: {{current.role}}</h3>
            <h3>Email: {{current.email}}</h3>
            <h3>DOB: {{current.dob}}</h3>
            <h2>Address:</h2>
            <h3>{{current.address.houseno}}/ {{current.address.street}}/ {{current.address.city}}/{{current.address.state}}/{{current.address.pincode}}</h3>
        </div>
      </div>
</div>