.btn{
    background-color: #05386b;

    font-size: 1rem;
    color: #edf5e1;
    border: #05386b;
    width: 120px;
    height: 38px;
}

td,th{
    background-color:#edf5e1 ;
    vertical-align: middle;
}

.user-table{
    margin-top: 100px;
    padding-top: 10%;
}