<div class="m-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Action</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of arrUser;let i=index;">
        <td>{{u.firstName}}</td>
        <td>{{u.lastName}}</td>
        <td><button class="btn btn-primary" (click)="viewUser(u.id)">View Details</button></td>
        <td><button class="btn btn-primary" [appDeleteUser]="u.id" type="user" (click)="removeUser(u.id)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>


  
  
