.do-button{
    background-color: #05386b;
    font-weight: 500;
    font-size: 1rem;
    color: #edf5e1;
    border: #05386b;
    width: 90px;
    height: 38px;
}

.form-control{
    background-color: #edf5e1;
}