.col{
    height: 100%;
}
#logo{
    height: 100%;
}
#logo-text{
    color: #05386b;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 120px;
}
.btn{
    background-color: #05386b;
    font-weight: 550;
    font-size: 1.2rem;
    color: #edf5e1;
    border: #05386b;
    width: 100px;
    height: 50px;
}
.search-bar{
    width: 350px    ;
}

img{
    height: 400px;
    width: 650px;
}