<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Who We Are
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Tismo Technology is a design engineering firm that offers Product Realization Services, specialized in embedded systems design & development.
             We offer Software development, Firmware development, Electronics design and Mechanical design for Analytical & Medical Instruments, Industrial and Internet-Of-Things products. 
             The products we develop highlight our technological proficiency, domain prowess and passion for excellence.
            Tismo came into being when a set of professionals, with a shared sense of purpose, set out to create something special. This mission, passion for technology, and the spirit of ownership have led to an organizational culture that delivers exceptional results for clients.
            We deliver knowledge that helps clients excel, innovate, and push the boundaries of technology. Over the years, we have worked on more than 430 projects for clients spanning 15 countries. With a team of about 80 members and catering almost exclusively to the European and North American markets, this is our 15th year of operation.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Results
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            We deliver knowledge that helps clients excel, innovate, and push the boundaries of technology. Over the years, we have worked on more than 430 projects for clients spanning 15 countries. With a team of about 80 members and catering almost exclusively to the European and North American markets, this is our 15th year of operation.

            We are results-driven and our project and quality management tools, methodologies, and frameworks are designed to consistently enhance performance benefits, reduce risk, and provide predictable results to clients.
        </div>
      </div>
    </div>
  </div>
</div>
