.btn{
    background-color: #05386b;
    font-size: 1rem;
    color: #edf5e1;
    border: #05386b;
    width: 130px;
    height: 35px;
}
.form-control{
    background-color: #edf5e1;
}

.form-select{
    background-color: #edf5e1;
}